@font-face {
    font-family: 'Inter';
    src: url("/src/fonts/Inter-Regular.ttf");
}

#root {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;
}

*, html, body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.wrap {
    width: 1100px;
    margin: 0 auto;
}
.header {
   
    height: 70px;
    background: rgb(131, 128, 128);
    color: rgb(249, 77, 14);
    font-weight:bolder;
    
    .block-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 15px;
    padding-bottom: 15px;
       .block-logo {
        display: flex;
        .img-logo{
            width: 20px;
            height: 20px;
        }
        .basket{
            font-family: "Roboto";
            font-size: 30px;
            font-weight: bold;
          
        }
       }
     
     
    }
    .route {
        display: flex;
        :nth-child(n) {
            margin-right: 15px;
           
        }   
        li:hover:a{
            font-weight: bolder;
        }
        .link-active {
            color: rgb(249, 77, 14);
        }
        .link {
            color: rgb(241, 229, 229);
            &:hover {
                color: rgb(249, 77, 14);
                transition: 0.5s;
            }
        }
       
    }
}

