.block-next-day {
    display: flex;
    margin-top: 25px;
    justify-content: space-evenly;
    .blockWether {
        margin: 0;
        width: 120px;
        padding: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 10px;
    }
}

.all-block {
    font-size: 12px;
    z-index: 10;
    margin-top: 45px;
    margin-left: 35px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    .cloudTwo{
        animation: none;
        left: 70%;
    }
}
.btn {
    text-align: right;
    color: black;
    text-decoration: none;
    width: 30px;
    border: 1px solid #93c9c7;
    padding: 5px;
    border-radius: 15px;
    &:hover{
        background-color: #f7a301;
        transition: 1s;
    }
}

.block-filter{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.img-wether{
    width: 20px;
}
.filter  {
    margin-right: 20px;
    border: 1px solid #93c9c7;
    padding: 5px;
    height: 20px;
    border-radius: 50%;
    &:hover {
        background-color:rgba(0, 0, 0, 0.15);
    }
   
}

