.block-nest-day {
    display: flex;
    width: 70%;
    font-size: 12px;
    margin-bottom: 25px;
}
.btn {
    margin-left: 25px;
    
    text-decoration: none;
    width: 30px;
    border: 1px solid rgb(147, 145, 145);
    padding: 3px;
    border-radius: 15px;
    
}